<!DOCTYPE html>
<html>
<head>
    <title>Temperature and Humidity</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Temperature: <span id="temperature_value">Loading...</span></h1>
    <h1>Humidity: <span id="humidity_value">Loading...</span></h1>
    <script type="text/javascript">
        var temperatureSocket = new WebSocket("/temperature_ws");
        var humiditySocket = new WebSocket("/humidity_ws");

        temperatureSocket.onopen = function(event) {
            console.log("Temperature WebSocket opened");
        };

        temperatureSocket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            if (data.temperature !== undefined) {
                document.getElementById("temperature_value").innerText = data.temperature.toFixed(2) + " °C";
            }
        };

        temperatureSocket.onclose = function(event) {
            console.log("Temperature WebSocket closed");
        };

        humiditySocket.onopen = function(event) {
            console.log("Humidity WebSocket opened");
        };

        humiditySocket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            if (data.humidity !== undefined) {
                document.getElementById("humidity_value").innerText = data.humidity.toFixed(2) + " %";
            }
        };

        humiditySocket.onclose = function(event) {
            console.log("Humidity WebSocket closed");
        };
    </script>
</body>
</html>